<!-- Sayaç /Tıklandığında ilgili sayfaya gidecek -->
<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section flex-col-c-m p-l-15 p-r-15 p-t-50 p-b-120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown flex-w flex-c-m cd100">
                        <li>
                            <div class="flex-col-c wsize1 m-b-30">
                                <h3 class="l1-txt2 p-b-9 days">3</h3>
                                <span class="s1-txt1 where1 p-l-35">Gün</span>
                            </div>
                        </li>
                        <li>
                            <div class="flex-col-c wsize1 m-b-30">
                                <h3 class="l1-txt2 p-b-9 hours">24</h3>
                                <span class="s1-txt1 where1 p-l-35">Saat</span>
                            </div>
                        </li>
                        <li>
                            <div class="flex-col-c wsize1 m-b-30">
                                <h3 class="l1-txt2 p-b-9 minutes">59</h3>
                                <span class="s1-txt1 where1 p-l-35">Dakika</span>
                            </div>
                        </li>
                        <li>
                            <div class="flex-col-c wsize1 m-b-30">
                                <h3 class="l1-txt2 p-b-9 seconds">59</h3>
                                <span class="s1-txt1 where1 p-l-35">Saniye</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">haftanın fırsat ürünleri</h2>
                    <p>YENİ KOLEKSİYONDA %50'YE VARAN İNDİRİM!</p>
                    <a class="primary-btn cta-btn" asp-controller="Home" asp-action="Products">ALIŞVERİŞE BAŞLA</a>
                </div>
            </div>
        </div>        
    </div>   
</div>
<!-- HOT DEAL SECTION -->






      