@using NLayer.Core.DTOs.Concert;
@model EmailSendDto
@{
    Layout = "_Layout";
    ViewBag.Title = "İletişim";
}
<!-- Contact-Css -->
<link rel="stylesheet" href="~/Electro/css/contact-page.css">
<!-- /Contact-Css -->
<div class="contact-form container-fluid" style="margin-top:100px;">
    <div>
        <img class="center-block" src="https://www.shutterstock.com/image-photo/group-multiethnic-business-people-holding-260nw-191139815.jpg" alt="rocket_contact" />
    </div>
    <div class="container">
        <div class="row" style="margin-bottom:100px;">
            <div class="col-md-12">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h2 style="color:#0072ff;">Hakkımızda</h2>
                    <br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    <div class="text-center" style="margin-top:100px;">
                        <span><i class="fa fa-instagram fa-3x" aria-hidden="true" style="color:#D10024;"></i></span>
                        <span style="margin-left:30px;"><i class="fa fa-envelope fa-3x" aria-hidden="true" style="color:#D10024;"></i></span>
                        <span style="margin-left:30px;"><i class="fa fa-google fa-3x" aria-hidden="true" style="color:#D10024;"></i></span>
                        <span style="margin-left:30px;"><i class="fa fa-youtube-play fa-3x" aria-hidden="true" style="color:#D10024;"></i></span>
                        <span style="margin-left:30px;"><i class="fa fa-phone fa-3x" aria-hidden="true" style="color:#D10024;"></i></span>
                        <span style="margin-left:30px;"><i class=" fa fa-map-marker fa-3x" aria-hidden="true" style="color:#D10024;"></i></span>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>                       
        </div>       
    </div>
</div>