
@{
    ViewData["Title"] = "Completed";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Siparişiniz Başarıyla Tamamlandı.</h2>
            <h4>Siparişiniz onaylandıktan sonra kargoya verilecektir.</h4>
        </div>
    </div>
</div>



