@using NLayer.Web.Areas.Admin.Models;
@model CategoryUpdateViewModel
@{
    ViewData["Title"] = "Kategori Güncelle";
}

@if (ViewData["Message"] != null)
{
    <div class="alert alert-success mt-4" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <center><span class="fas fa-check fa-lg" style="color:green;"></span> @ViewData["Message"]</center>
    </div>
}
<div class="container">  
    <div class="row justify-content-center">
        <div class="col-lg-7">             
            <div class="card shadow-lg border-5 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4"><span class="fas fa-edit" style="color:#007bff;"></span> Kategori Düzenle</h3></div>
                <div class="card-body">

                    <form asp-area="Admin" asp-controller="Category" asp-action="Update">
                        <input type="hidden" asp-for="CategoryUpdateDto.Id" />
                        <div class="form-group">
                            <label asp-for="CategoryUpdateDto.Name" class="mb-1 ml-1"></label>
                            <input asp-for="CategoryUpdateDto.Name" class="form-control" placeholder="Lütfen, kategori adı giriniz." />
                            <span class="text-danger" asp-validation-for="CategoryUpdateDto.Name"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryUpdateDto.Description" class="mb-1 ml-1"></label>
                            <textarea asp-for="CategoryUpdateDto.Description" class="form-control" rows="3" placeholder="Lütfen, kategori açıklaması giriniz."></textarea>
                            <span class="text-danger" asp-validation-for="CategoryUpdateDto.Description"></span>
                        </div>
                        <div class="form-group form-check ml-1">
                            <input asp-for="CategoryUpdateDto.IsActive" type="checkbox" class="form-check-input" checked />
                            <label asp-for="CategoryUpdateDto.IsActive" class="form-check-label"></label>
                            <span class="text-danger" asp-validation-for="CategoryUpdateDto.IsActive"></span>
                        </div>
                        <div class="form-group form-check ml-1">
                            <input asp-for="CategoryUpdateDto.IsDeleted" type="checkbox" class="form-check-input"  />
                            <label asp-for="CategoryUpdateDto.IsDeleted" class="form-check-label"></label>
                            <span class="text-danger" asp-validation-for="CategoryUpdateDto.IsDeleted"></span>
                        </div>
                        <hr />
                        <div class="form-group mt-4 mb-0">
                            <button type="submit" class="btn btn-primary btn-block"><span class="fas fa-save"></span> Kaydet</button>
                            <a class="btn btn-danger btn-block" asp-area="Admin" asp-controller="Category" asp-action="Update" asp-route-categoryId="@Model.CategoryUpdateDto.Id"><span class="fas fa-times"></span> İptal Et</a>
                        </div>
                    </form>

                </div>
                <div class="card-footer text-center">
                    <div>
                        <a asp-area="Admin" asp-controller="Category" asp-action="Index"><span class="fas fa-list-ul"></span> <span>Kullanıcı listesine geri dön!</span></a>
                    </div>
                </div>              
            </div>            
        </div>      
    </div>  
</div>



