@using NLayer.Core.DTOs.Concert;
@model UserPasswordEditDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Şifre Değiştir";
}

@if (ViewData["MessageSuccess"] != null)
{
    <div class="alert alert-success mt-4" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <center><span class="fas fa-check fa-lg" style="color:green;"></span> @ViewData["MessageSuccess"]</center>
    </div>
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-5 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4"><span class="fas fa-key" ></span> Şifre Değiştir</h3></div>
                <div class="card-body">

                    <form  asp-controller="User" asp-action="PasswordEdit" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div> 
                        
                        <div class="form-group">
                            <label asp-for="CurrentPassword" class="mb-1 ml-1"></label>
                            <input type="password" asp-for="CurrentPassword" class="form-control" placeholder="Lütfen, şu anki şifrenizi giriniz." />
                            <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                        </div>     
                        <div class="form-group">
                            <label asp-for="NewPassword" class="mb-1 ml-1"></label>
                            <input type="password" asp-for="NewPassword" class="form-control" placeholder="Lütfen, yeni şifrenizi giriniz." />
                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RepeatPassword" class="mb-1 ml-1"></label>
                            <input type="password" asp-for="RepeatPassword" class="form-control" placeholder="Lütfen, yeni şifrenizi tekrar giriniz." />
                            <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                        </div>

                        <div class="form-group mt-4 mb-0">
                            <button type="submit" class="btn btn-primary btn-block"><span class="fas fa-save"></span> Kaydet</button>
                            <a class="btn btn-danger btn-block" asp-area="Admin" asp-controller="User" asp-action="PasswordEdit"><span class="fas fa-times"></span> İptal Et</a>
                        </div>
                    </form>

                </div>
                <div class="card-footer text-center">
                    <div class="small">
                        <a asp-area="Admin" asp-controller="User" asp-action="Index"><span class="fas fa-list-ul"></span> Kullanıcı listesine geri dön!</a>
                    </div>
                </div>
            </div>           
        </div>
    </div>   
</div>