@using NLayer.Core.DTOs.Concert;
@using NLayer.Web.Areas.Admin.Models;
@model UserUpdateViewModel
@{
    ViewData["Title"] = "Kullanıcı Düzenle";
}

@if (ViewData["Message"] != null)
{
    <div class="alert alert-success mt-4" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <center><span class="fas fa-check fa-lg" style="color:green;"></span> @ViewData["Message"]</center>
    </div>
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow-lg border-5 rounded-lg mt-4">
                <div class="card-header"><h3 class="text-center font-weight-light my-4"><span class="fas fa-edit" style="color:#007bff; "></span> Kullanıcı Düzenle</h3></div>
                <div class="card-body">

                    <form asp-area="Admin" asp-controller="User" asp-action="Update" enctype="multipart/form-data">
                        <input type="hidden" asp-for="UserUpdateDto.Id" />
                        <div class="form-row">

                        <div class="form-group col-md-4">
                            <label asp-for="UserUpdateDto.UserName"></label>
                            <input asp-for="UserUpdateDto.UserName" class="form-control" placeholder="Lütfen, kullanıcı adı giriniz." />
                            <span class="text-danger" asp-validation-for="UserUpdateDto.UserName"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="UserUpdateDto.Email"></label>
                            <input type="email" asp-for="UserUpdateDto.Email" class="form-control" placeholder="Lütfen, e-posta adresi giriniz." />
                            <span class="text-danger" asp-validation-for="UserUpdateDto.Email"></span>
                        </div>
                            <div class="form-group col-md-4">
                                <label asp-for="UserUpdateDto.PhoneNumber"></label>
                                <input type="text" class="form-control" asp-for="UserUpdateDto.PhoneNumber" placeholder="Lütfen, telefon numarası giriniz." />
                                <span class="text-danger" asp-validation-for="UserUpdateDto.PhoneNumber"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="UserUpdateDto.FirstName"></label>
                                <input type="text" class="form-control" asp-for="UserUpdateDto.FirstName" placeholder="Lütfen, ad giriniz." />
                                <span class="text-danger" asp-validation-for="UserUpdateDto.FirstName"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="UserUpdateDto.LastName"></label>
                                <input type="text" class="form-control" asp-for="UserUpdateDto.LastName" placeholder="Lütfen, soyad giriniz." />
                                <span class="text-danger" asp-validation-for="UserUpdateDto.LastName"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="UserUpdateDto.WebsiteLink"></label>
                                <input type="text" class="form-control" asp-for="UserUpdateDto.WebsiteLink" placeholder="Lütfen, website link'i giriniz." />
                                <span class="text-danger" asp-validation-for="UserUpdateDto.WebsiteLink"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label asp-for="UserUpdateDto.About"></label>
                                <textarea class="form-control" asp-for="UserUpdateDto.About" placeholder="Lütfen, hakkında bilgisi giriniz." rows="4"></textarea>
                                <span class="text-danger" asp-validation-for="UserUpdateDto.About"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="UserUpdateDto.TwitterLink"></label>
                                <input type="text" class="form-control" asp-for="UserUpdateDto.TwitterLink" placeholder="Lütfen, twitter profil link'i giriniz." />
                                <span class="text-danger" asp-validation-for="UserUpdateDto.TwitterLink"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="UserUpdateDto.FacebookLink"></label>
                                <input type="text" class="form-control" asp-for="UserUpdateDto.FacebookLink" placeholder="Lütfen, facebook profil link'i giriniz." />
                                <span class="text-danger" asp-validation-for="UserUpdateDto.FacebookLink"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="UserUpdateDto.InstagramLink"></label>
                                <input type="text" class="form-control" asp-for="UserUpdateDto.InstagramLink" placeholder="Lütfen, instagram profil link'i giriniz." />
                                <span class="text-danger" asp-validation-for="UserUpdateDto.InstagramLink"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="UserUpdateDto.LinkedInLink"></label>
                                <input type="text" class="form-control" asp-for="UserUpdateDto.LinkedInLink" placeholder="Lütfen, linkedin profil link'i giriniz." />
                                <span class="text-danger" asp-validation-for="UserUpdateDto.LinkedInLink"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="UserUpdateDto.YoutubeLink"></label>
                                <input type="text" class="form-control" asp-for="UserUpdateDto.YoutubeLink" placeholder="Lütfen, youtube profil link'i giriniz." />
                                <span class="text-danger" asp-validation-for="UserUpdateDto.YoutubeLink"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="UserUpdateDto.GitHubLink"></label>
                                <input type="text" class="form-control" asp-for="UserUpdateDto.GitHubLink" placeholder="Lütfen, github profil link'i giriniz." />
                                <span class="text-danger" asp-validation-for="UserUpdateDto.GitHubLink"></span>
                            </div>                       
                        <div class="form-group col-md-4">
                                <label>Kullanıcı Resimi</label>
                                <br />
                            <input type="hidden" asp-for="UserUpdateDto.Picture"/>
                            <img class="my-image" src="~/img/@Model.UserUpdateDto.Picture" alt="@Model.UserUpdateDto.UserName"/>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="UserUpdateDto.PictureFile"></label>
                            <input type="file" accept="image/*" asp-for="UserUpdateDto.PictureFile" class="form-control-file" placeholder="Lütfen, resim seçiniz." />
                            <span class="text-danger" asp-validation-for="UserUpdateDto.PictureFile"></span>
                        </div>
                        </div>
                            <hr />
                        <div class="small">
                            <button class="btn btn-primary btn-block"><span class="fas fa-save"></span> Kaydet</button>
                            <a class="btn btn-danger btn-block" asp-area="Admin" asp-controller="User" asp-action="Update" asp-route-userId="@Model.UserUpdateDto.Id"><span class="fas fa-times"></span> İptal Et</a>
                        </div>                      
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div>
                        <a asp-area="Admin" asp-controller="User" asp-action="Index"><span class="fas fa-list-ul"></span> <span>Kullanıcı listesine geri dön!</span></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>






